In [1]:
import pandas as pd

In [2]:
dict = {
    'ID': [1,2,3,4],
    'Name': ["Alice","Bob", "Charlie", "Dana"],
    'Age':[25,30,28,35],
    'Gender': ['Female','Male','Male','Female'],
    'City': ['New York', 'London',"Paris",'Berlin']
}

In [3]:
df = pd.DataFrame(dict)

In [4]:
df

   ID     Name  Age  Gender      City
0   1    Alice   25  Female  New York
1   2      Bob   30    Male    London
2   3  Charlie   28    Male     Paris
3   4     Dana   35  Female    Berlin

In [13]:
No_of_cities = df['City'].nunique()

In [14]:
No_of_cities

4

In [16]:
df['Age'].mean()

29.5

In [17]:
df['Gender'].count()

4

In [23]:
older_person = df[df['Age'] == df['Age'].max()]['Name'].values[0]

In [24]:
older_person

'Dana'

In [25]:
df['City'].value_counts()
df['City'].idxmax()

2